{
    "token": "",
    "token_admin": "",
    "token_ksl": "",
    "tokens": {
        "admin": "",
        "beetdiggerfan": "",
        "ksl": "",
        "rslpride": ""
    },
    "base": "http://dev.hive.pub/api/",
    "base_varnish": "http://dev-varnish.hive.pub/api/"
}
